docs/_build/.buildinfo
docs/_build/config.html
docs/_build/functions.html
docs/_build/genindex.html
docs/_build/index.html
docs/_build/objects.inv
docs/_build/py-modindex.html
docs/_build/search.html
docs/_build/searchindex.js
docs/_build/simulator_dynamics.html
docs/_build/test_simulator.html
docs/_build/.doctrees/config.doctree
docs/_build/.doctrees/environment.pickle
docs/_build/.doctrees/functions.doctree
docs/_build/.doctrees/index.doctree
docs/_build/.doctrees/simulator_dynamics.doctree
docs/_build/.doctrees/test_simulator.doctree
docs/_build/_modules/index.html
docs/_build/_modules/simulations/functions.html
docs/_build/_modules/simulations/simulator_dynamics.html
docs/_build/_modules/simulations/test_simulator.html
docs/_build/_sources/config.rst.txt
docs/_build/_sources/functions.rst.txt
docs/_build/_sources/index.rst.txt
docs/_build/_sources/simulator_dynamics.rst.txt
docs/_build/_sources/test_simulator.rst.txt
docs/_build/_sphinx_design_static/design-style.4045f2051d55cab465a707391d5b2007.min.css
docs/_build/_sphinx_design_static/design-tabs.js
docs/_build/_static/_sphinx_javascript_frameworks_compat.js
docs/_build/_static/basic.css
docs/_build/_static/custom.css
docs/_build/_static/design-style.4045f2051d55cab465a707391d5b2007.min.css
docs/_build/_static/design-tabs.js
docs/_build/_static/doctools.js
docs/_build/_static/documentation_options.js
docs/_build/_static/file.png
docs/_build/_static/graphviz.css
docs/_build/_static/jquery-3.6.0.js
docs/_build/_static/jquery.js
docs/_build/_static/language_data.js
docs/_build/_static/minus.png
docs/_build/_static/nbsphinx-broken-thumbnail.svg
docs/_build/_static/nbsphinx-code-cells.css
docs/_build/_static/nbsphinx-gallery.css
docs/_build/_static/nbsphinx-no-thumbnail.svg
docs/_build/_static/plus.png
docs/_build/_static/pygments.css
docs/_build/_static/searchtools.js
docs/_build/_static/sphinx_highlight.js
docs/_build/_static/sphinx_toolbox_installation.css
docs/_build/_static/sphinx_toolbox_installation.js
docs/_build/_static/tabs.css
docs/_build/_static/tabs.js
docs/_build/_static/underscore-1.13.1.js
docs/_build/_static/underscore.js
docs/_build/_static/webpack-macros.html
docs/_build/_static/css/sphinx-toolbox.css
docs/_build/_static/scripts/bootstrap.js
docs/_build/_static/scripts/bootstrap.js.LICENSE.txt
docs/_build/_static/scripts/bootstrap.js.map
docs/_build/_static/scripts/pydata-sphinx-theme.js
docs/_build/_static/scripts/pydata-sphinx-theme.js.map
docs/_build/_static/styles/bootstrap.css
docs/_build/_static/styles/pydata-sphinx-theme.css
docs/_build/_static/styles/theme.css
docs/_build/_static/vendor/fontawesome/6.1.2/LICENSE.txt
docs/_build/_static/vendor/fontawesome/6.1.2/css/all.min.css
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-brands-400.ttf
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-brands-400.woff2
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-regular-400.ttf
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-regular-400.woff2
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-solid-900.ttf
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-solid-900.woff2
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-v4compatibility.ttf
docs/_build/_static/vendor/fontawesome/6.1.2/webfonts/fa-v4compatibility.woff2
figures/V_(0.5, 0.5, 3, 50, 0).png
figures/V_None.png
results/~$results_M_500_randomVperc_1_N_30_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_500_randomVperc_1_N_40_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_500_randomVperc_1_N_50_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_500_randomVperc_1_N_60_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_1000_randomVperc_0_N_10_n_200_l_12_delta_rho_\[3, 5]_ab_diff.xlsx
auxiliary.py
