figures/V_(0.5, 0.5, 3, 50, 0).png
figures/V_None.png
results/~$results_M_500_randomVperc_1_N_30_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_500_randomVperc_1_N_40_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_500_randomVperc_1_N_50_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_500_randomVperc_1_N_60_n_200_l_12_addPhi_0_search_5_less_None_noless_0_alternative_False_stop_None.xlsx
results/~$results_M_1000_randomVperc_0_N_10_n_200_l_12_delta_rho_\[3, 5]_ab_diff.xlsx
auxiliary.py
